.bg {
  /* The image used */
  background-image: url("/assets/grass.jpg");
  min-height: 100vh;

  /* Full height */
  /*height: 100%;*/

  /* Center and scale the image nicely */
  /*background-position: center;*/
  background-repeat: repeat;
  /*background-size: cover;*/
}