
<div class="bg"  *ngIf="id != 0 || id == undefined">
<app-newnavbar></app-newnavbar>
<div class="p-4">

</div>

  <div class="container  mx-auto  px-4 h-full">

      <tr *ngFor='let Match of Matches'>
          <td>
           <div class="p-4">
            <!--table-->
              <div class="mx-32 relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                  <div class="flex-auto p-4">
                    <div class="flex flex-wrap">
                      <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                        <h5 class="md:mx-48 text-4xl font-bold text-xl">

                            {{Match.home_team }} VS {{ Match.away_team }}
                        </h5>
                        <span class="font-semibold text-xl text-gray-500">

                        </span>
                      </div>

                    </div>
                    <p class="text-sm text-gray-500 mt-4">
                      <span class="whitespace-no-wrap"> Match Venue:  {{ Match.match_venue }}</span>
                    </p>
                     <p class="text-sm text-gray-500 mt-4"><span class="whitespace-no-wrap"> Date: {{ Match.date }}</span></p>
                     <p class="text-sm text-gray-500 mt-4"><span class="whitespace-no-wrap"> Time: {{ Match.time }}</span></p>
                     <p class="text-sm text-gray-500 mt-4"><span class="whitespace-no-wrap">Main referee: {{ Match.main_referee }}</span></p>
                    <p class="text-sm text-gray-500 mt-4"><span class="whitespace-no-wrap">First linesman: {{ Match.first_linesman }}</span></p>
                    <p class="text-sm text-gray-500 mt-4"> <span class="whitespace-no-wrap">Second_linesman: {{ Match.second_linesman }}</span></p>
                    <br>
                    <!-- for different users -->

                    <a [routerLink]="['/seats',Match.id]"  class="py-8"  *ngIf=" id != 1 && id != 2">
                      <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                      >
                        Seats
                      </button>
                    </a>


                    <a [routerLink]="['/editmatch',Match.id]" class="py-8" *ngIf=" id == 1">
                      <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                      >
                        Edit
                      </button>
                    </a>
                    <a [routerLink]="['/seats',Match.id]"  class="py-8 md:ml-8"  *ngIf=" id == 1">
                      <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                      >
                        Seats
                      </button>
                    </a>

                    <a class="py-8" [routerLink]="['/seats',Match.id]" *ngIf=" id == 2">
                      <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" >
                        Reserve
                      </button>
                    </a>



                  </div>
                </div>
              </div>
            <!-- end of table-->

            </td>


      </tr>



  </div>

</div>

<!-- ////////////////////////////// ADMINS //////////////////////////////////////////////////////-->
  <!--<div class="h-full" style="background-image: url(assets/grass.jpg); height: 100vh;">-->
<!-- Home page for admin user only -->
<div class="bg" *ngIf="id == 0">
  <app-newnavbar></app-newnavbar>
  <div class="container  mx-auto  px-4 h-full">
    <div class="p-8">

    </div>
    <tr *ngFor='let user of Users'>
      <td>
        <div class="p-4">
        <!--table-->
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                    <h4 class="text-3xl text-xl">

                        {{user.first_name }} {{ user.last_name }}
                    </h4>
                    <span class="font-semibold text-xl text-gray-500">

                    </span>
                  </div>

                </div>
                <p class="text-sm text-gray-500 mt-4">
                  <span class="whitespace-no-wrap"> Username:  {{ user.username }}</span>
                </p>
                <p class="text-sm text-gray-500 mt-4">
                  <span class="whitespace-no-wrap"> Email:  {{ user.email }}</span>
                </p>

                <p class="text-sm text-gray-800 mt-4">
                  <span class="whitespace-no-wrap"> Role:  {{ user.role }}</span>
                </p>
              <!--
                <p class="text-sm text-gray-500 mt-4" *ngIf="user.Address != null">
                  <span class="whitespace-no-wrap"> Address:  {{ user.Address }}</span>
                </p>
                <p class="text-sm text-gray-500 mt-4">
                  <span class="whitespace-no-wrap"> Role: <b> {{ user.role }} </b> </span>
                </p>
                -->


                <br>
                  <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                  (click)="removeUser(user.username)"
                  >
                    Remove
                  </button>





              </div>
            </div>
        <!-- end of table-->
        </div>
        </td>
  </tr>
  </div>
</div>
