<app-navbar></app-navbar>
<div class="bg">
<div class="container mx-auto  px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full my-12 lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6">
        </div>

        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">



          <form  [formGroup]="this.matchForm" >


            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="hometeam"
              >
                home Team:
              </label>
              <label class="text-red-500" *ngIf="matchForm.get('home_team').hasError('required') && matchForm.get('home_team').touched ">
               you must enter a home team
              </label>
              <input
                formControlName="home_team"
                type="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="home team"
                name="home_team"

              />
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold md:mb-2"
                htmlFor="awayteam"
              >
                away Team:
              </label>
              <label class="text-red-500" *ngIf="matchForm.get('away_team').hasError('required') && matchForm.get('away_team').touched ">
                you must enter an away team
               </label>
              <input
                formControlName="away_team"
                type="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="away team"
                name="away_team"

              />
            </div>


            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="match_venue"
              >
               match Venue:
              </label>
              <label class="text-red-500" *ngIf="matchForm.get('match_venue').hasError('required') && matchForm.get('match_venue').touched ">
                you must enter the match venue
               </label>

              <select
              formControlName="match_venue"
              class="w-full border-2 bg-white border-gray-200 rounded px-3 py-3 outline-none"
              >
                <option class="py-1" disabled selected>-- Choose stadium --</option>
                <option class="py-1" *ngFor="let stadium of Stadiums" > {{stadium.name}}</option>
              </select>



            </div>
            <div class="h-20 flex flex-wrap content-start ">
              <div class="md:pr-8">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="date"
              >
                Date:
              </label>
              <input
                formControlName="date"
                type="date"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="date"
                name="Date"

              />
            </div>
              <!-- test -->
              <div class="md:pr-8">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="time"
              >
                Time:
              </label>
              <input
                formControlName="time"
                type="time"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="time"
                name="Time"

              />
            </div>


            </div>




            <div class="relative w-full md:mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold md:mb-2"
                htmlFor="mainreferee"
              >
                main referee:
              </label>
              <input
                formControlName="main_referee"
                type="email"
                class="md:px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="main referee"
                name="main_referee"

              />
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="firstlinesman"
              >
              first linesman:
              </label>
              <input
                formControlName="first_linesman"
                type="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="first linesman"
                name="first_linesman"

              />
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="secondlinesman"
              >
              second linesman:
              </label>

              <input
                formControlName="second_linesman"
                type="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="second linesman"
                name="second_linesman"

              />
            </div>

            <div class="text-center mt-12">
              <button
              [disabled]="matchForm.invalid"
              [ngStyle]="{'background-color': matchForm.invalid? '#ec1f1f' : '#95e692'}"
                class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button"  (click)="ChooseMode()">

                {{this.EditMode ? "Update match" : "Add match"}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
