<!--Navbar-->
<div class="navbar">
  <a [routerLink]="['/home']"><i class="fa fa-home" style="font-size: 30px;"></i> </a>

<!-- different from each user-->
<!-- Admin -->
  <div class="dropdown" *ngIf=" id == 0">
    <button class="dropbtn">Options
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" >
      <a [routerLink]="['/pending']" > Pending users</a>
    </div>
  </div>
<!-- Manager-->
<div class="dropdown" *ngIf=" id == 1">
  <button class="dropbtn">Options
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" >
    <a [routerLink]="['/match']">Add match</a>
    <a [routerLink]="['/stadium']">Add staduim</a>
  </div>
</div>

<!-- Fan -->
<div class="dropdown" *ngIf=" id == 2">
  <button class="dropbtn">Options
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" >
    <a [routerLink]="['/reservataions']">Reservations</a>
    <a href="#">Edit data</a>

  </div>
</div>

<a [routerLink]="['/signup']">sign up</a>
<a [routerLink]="['/login']">Login</a>



</div>

  <!--/.Navbar-->
