<app-newnavbar></app-newnavbar>

<div class="bg">
  <div class="p-8">
  </div>
  <div class="container  mx-auto  px-4 h-full">

        <div class="p-4">
        <!--table-->
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                    <h4 class="text-3xl text-xl">

                        {{User.first_name }} {{ User.last_name }}
                    </h4>
                    <span class="font-semibold text-xl text-gray-500">

                    </span>
                  </div>

                </div>

                <p class="text-sm text-gray-500 mt-4">
                  <span class="whitespace-no-wrap"> Email:  {{ User.email }}</span>
                </p>
                <p class="text-sm text-gray-500 mt-4">
                  <span class="whitespace-no-wrap"> BirthDate:  {{ User.birthdate }}</span>
                </p>
                <p class="text-sm text-gray-500 mt-4">
                  <span class="whitespace-no-wrap"> Gender:  {{ User.gender }}</span>
                </p>
                <p class="text-sm text-gray-500 mt-4">
                  <span class="whitespace-no-wrap"> City:  {{ User.city }}</span>
                </p>
                <p class="text-sm text-gray-500 mt-4" *ngIf="User.address != null">
                  <span class="whitespace-no-wrap"> Address:  {{ User.address }}</span>
                </p>

                  <!--
                <p class="text-sm text-gray-500 mt-4">
                  <span class="whitespace-no-wrap"> Seats:  {{ User.seats[0].row }}</span>
                </p>-->



                <br>

              </div>
            </div>
        <!-- end of table-->
        </div>

</div>
<!--- Print reservations -->

<div class="container  mx-auto  px-4 h-full">

  <div class="p-4">
    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
        <div class="flex-auto p-4">
          <div class="flex flex-wrap">
            <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
              <h4 class="text-3xl text-xl">

                  Reservations :
              </h4>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="container  mx-auto  px-4 h-full">

  <div class="p-4">
  <!--table-->
    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">

        <div class="flex-auto p-4">

          <ng-container *ngFor="let ticket of tickets; index as i">
          <ng-container *ngFor="let match of matches; index as j ">
            <ng-container *ngIf="i==j" >



          <div class="flex flex-wrap">

            <div class="relative w-full pr-4 max-w-full flex-grow flex-1">

              <h4 class="text-3xl text-xl">

              {{ match.home_team }} VS {{ match.away_team}}<!---->
              </h4>
              <span class="font-semibold text-xl text-gray-500">
              </span>


            </div>
          </div>





          <p class="text-sm text-gray-500 mt-4">
            <span class="whitespace-no-wrap"> Seat row:  {{ ticket.seat_column }}</span>
          </p>
          <p class="text-sm text-gray-500 mt-4">
            <span class="whitespace-no-wrap"> Seat column :  {{ ticket.seat_row }}</span>
          </p>
          <p class="text-sm text-gray-500 mt-4">
            <span class="whitespace-no-wrap"> Ticket id:  {{ ticket.id }}</span>
          </p>
          <br>

          <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
          (click)="cancelReservation(ticket.id)">
            Cancel
          </button>


           </ng-container>
          </ng-container>

        </ng-container>



        </div>


      </div>
  <!-- end of table-->
  </div>
</div>











</div>
