<div class="bg">
<app-newnavbar></app-newnavbar>
<br>
<br>
<div class="container mx-auto  px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
    <!-- Signup form -->
    <div class="bg-white p-16 rounded-lg shadow-lg w-full">

      <h2 class="text-center text-2xl font-bold mb-10 text-gray-800">My Account</h2>

      <form class="space-y-3" [formGroup]="this.editProfileForm" >

        <div>

          <label class="text-red-500" *ngIf="editProfileForm.get('first_name').hasError('required') && editProfileForm.get('first_name').touched ">
            you must enter a first name
           </label>
          <label class="block mb-1 font-bold text-gray-500" placeholder="First Name">First Name</label>
          <input type="text" class="form-control w-full border-2 border-gray-200 p-3 rounded outline-none"
           placeholder="First Name"
          formControlName="first_name">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Last Name</label>
          <input type="text" class="w-full border-2 border-gray-200 p-3 rounded outline-none"
          placeholder="Last Name" formControlName="last_name">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Birth Date</label>
          <input  type="date" class="w-full border-2 border-gray-200 p-3 rounded outline-none"
          Name="birthdate"
          formControlName="birthdate"
          min="1920-01-01" max="2000-12-31"
          placeholder=""
          onkeydown="return false">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Email</label>
          <input type="email" class="form-control w-full border-2 border-gray-200 p-3 rounded outline-none"
          formControlName="email" placeholder="Email">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Username</label>
          <input type="text" class="w-full border-2 border-gray-200 p-3 rounded outline-none"
          formControlName="username"
          placeholder="Username"

         >
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">City</label>
            <select class="w-full border-2 bg-white border-gray-200 rounded px-3 py-3 outline-none"
            formControlName="city" placeholder="City">
              <option class="py-1">-- Choose City --</option>
              <option class="py-1" *ngFor="let city of cities">{{city}}</option>
            </select>
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Address</label>
          <input type="text" class="w-full border-2 border-gray-200 p-3 rounded outline-none"
          formControlName="address" placeholder="Address">
        </div>



        <br>

        <button type="submit" class="block w-full  bg-gray-400 p-4 rounded text-gray-800 hover:text-yellow-800 transition duration-200"
        (click)="editProfile()" [disabled]="editProfileForm.invalid"
        [ngStyle]="{'background-color': editProfileForm.invalid? '#ec1f1f' : '#95e692'}"

        >
          Submit Edit </button>
      </form>

    </div>
    </div>
  </div>
  </div>

  <br>
  <br>


  <div class="container mx-auto  px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-6/12 px-4">
      <!-- Signup form -->
      <div class="bg-white p-16 rounded-lg shadow-lg w-full">

        <h2 class="text-center text-2xl font-bold mb-10 text-gray-800">Change Password</h2>

        <form class="space-y-3" [formGroup]="this.password" >


          <div>
            <label class="text-red-500" *ngIf="password.get('old_password').hasError('required') && password.get('old_password').touched ">
              Password must be at least 8 numbers
             </label>
            <label class="block mb-1 font-bold text-gray-500">Old Password</label>
            <input type="password" class="form-control w-full border-2 border-gray-200 p-3 rounded outline-none"
            formControlName="old_password" placeholder="old password">
          </div>

          <label class="text-red-500" *ngIf="password.get('new_password').hasError('required') && password.get('new_password').touched ">
            Password must be at least 8 numbers
           </label>
          <div>
            <label class="block mb-1 font-bold text-gray-500">New Password</label>
            <input type="password" class="form-control w-full border-2 border-gray-200 p-3 rounded outline-none"
            formControlName="new_password" placeholder="new password">
          </div>
          <div>
            <label class="text-red-500" *ngIf="password.get('new_password_confirmation').hasError('required') && password.get('new_password_confirmation').touched ">
              Password must be at least 8 numbers
             </label>
            <label class="block mb-1 font-bold text-gray-500"> Confirm new Password</label>
            <input type="password" class="form-control w-full border-2 border-gray-200 p-3 rounded outline-none"
            formControlName="new_password_confirmation" placeholder="confirm new password">
          </div>
          <br>

          <button type="submit" class="block w-full  bg-gray-400 p-4 rounded text-gray-800 hover:text-yellow-800 transition duration-200"
          (click)="changePassword()" [disabled]="password.invalid"
          [ngStyle]="{'background-color': password.invalid? '#ec1f1f' : '#95e692'}"

          >
            Change Password </button>
        </form>

      </div>
      </div>
    </div>
    </div>


  <!-- back ground div-->
</div>



