<div class="bg">
<app-newnavbar></app-newnavbar>
<div class="md:px-4">

</div>
<div class="container mx-auto  px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
    <!-- Signup form -->
    <div class="bg-white p-16 rounded-lg shadow-lg w-full">

      <h2 class="text-center text-2xl font-bold mb-10 text-gray-800">Edit Your Account</h2>

      <form class="space-y-3" [formGroup]="editProfileForm" >

        <div>
          <label class="block mb-1 font-bold text-gray-500" placeholder="First Name">First Name</label>
          <input type="text" class="form-control w-full border-2 border-gray-200 p-3 rounded outline-none" placeholder="First Name"
          formControlName="first_name">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Last Name</label>
          <input type="text" class="w-full border-2 border-gray-200 p-3 rounded outline-none"
          placeholder="Last Name" formControlName="last_name">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Birth Date</label>
          <input  type="date" class="w-full border-2 border-gray-200 p-3 rounded outline-none"
          Name="birthdate"
          formControlName="birthdate" min="1920-01-01" max="2000-12-31"
          placeholder="{{ this.profile.birthdate }}"
           onkeydown="return false">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Gender</label>
            <select class="w-full border-2 bg-white border-gray-200 rounded px-3 py-3 outline-none" formControlName="gender" placeholder="Gender">
              <option class="py-1">-- Choose Gender --</option>
           <!--   <option class="py-1" *ngFor="let gender of genders">{{gender}}</option> -->
            </select>
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Email</label>
          <input type="email" class="form-control w-full border-2 border-gray-200 p-3 rounded outline-none"
          formControlName="email" placeholder="Email">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Username</label>
          <input type="text" class="w-full border-2 border-gray-200 p-3 rounded outline-none"
          formControlName="username" placeholder="Username">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Password</label>
          <input type="password" class="w-full border-2 border-gray-200 p-3 rounded outline-none" formControlName="password" placeholder="**************">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Confirm Password</label>
          <input type="password" class="w-full border-2 border-gray-200 p-3 rounded outline-none"
          formControlName="confirmPassword" placeholder="**************">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">City</label>
            <select class="w-full border-2 bg-white border-gray-200 rounded px-3 py-3 outline-none"
            formControlName="city" placeholder="City">
              <option class="py-1">-- Choose City --</option>
              <option class="py-1" *ngFor="let city of cities">{{city}}</option>
            </select>
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Address</label>
          <input type="text" class="w-full border-2 border-gray-200 p-3 rounded outline-none"
          formControlName="address" placeholder="Address">
        </div>

        <div>
          <label class="block mb-1 font-bold text-gray-500">Role</label>
            <select class="w-full border-2 bg-white border-gray-200 rounded px-3 py-3 outline-none"
            formControlName="role" placeholder="Role">
              <option class="py-1">-- Choose Role --</option>
           <!--   <option class="py-1" *ngFor="let role of roles">{{role}}</option> -->
            </select>
        </div>

        <br>

        <button type="submit" class="block w-full  bg-gray-400 p-4 rounded text-gray-800 hover:text-yellow-800 transition duration-200">Sign Up</button>
      </form>

    </div>
    </div>
  </div>
  </div>
</div>
